html, body {
    height: 100%;
}

.login-title {
    margin: 0.5em 0 0.5em 0;
	color: #343434;
	font-size: 22px;
	line-height: 40px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Orienta', sans-serif;
	letter-spacing: 1px;
	font-style: italic;

}


.login-whole-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-top-box,
.login-bot-box,
.login-title
{
    display: flex;
    justify-content: center;
}

.login-text {
    width: 320px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    border-style: solid;
    border-width: 1px;
    height: 36px;
    padding-left: 8px;
    margin-bottom: 20px;

}

.login-btn {
    width: 330px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #006400;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}