*, *::before, *::after { 
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  margin: 0;

  font-family: sans-serif;
}

body {
  padding-bottom: 30px;

}

#chat-app { 
  display: grid;
  grid-template-areas: 
    "users messages"
    "outgoing outgoing"
  ;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr auto;


  height: 100%;
}

.chat {
  height: 100%;
  overflow-y: auto;
}

.users { 
  grid-area: users;
  background-color: rgb(37, 37, 37);
  position: fixed;
  bottom: 50px;
  top: 0px;
  left: 0px;
  width: 100px;

  padding: 14px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;

  overflow-y: auto;

  list-style-type: none;
}

.messages { 
  margin-top: 0px;
  margin-bottom: 0px;
  grid-area: messages;

  padding: 0;
  /* margin: 0; */

  overflow-y: auto;

  list-style-type: none;
}

.avatar { 
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
  cursor: pointer;
}

.username { 
  font-size: 12px;
  color: gray;
  margin-left: 5px;

}

.message { 
  display: flex;

  margin-top:20px;
  margin-bottom: 20px;
}

.sender-info { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;

}

.message-text { 

  width: 100%;
  margin: 0;
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 450px;

  font-size: 12px;
  background: #42cc5c;
  -webikit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(54, 54, 54);
  word-break: break-word;
  position: relative;

}

.chat-app-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.outgoing { 
  position: fixed;
  bottom: 0px;
  left: 100px;
  right: 0px;
  display: flex;

}
.message-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user {
  margin: 6px;
  color: rgb(233, 232, 232);
  font-size: 16px;
  /* font-weight: bold; */
}

button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgb(4, 122, 219);    
  border: none;
  cursor: pointer;
  margin-left: -1px;
  width: 100px;
  height: 50px;
  width: 100px;
}

.username-and-logout {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  width: 100px;
  height: 100px;
  background-color: rgb(37, 37, 37);
}

.logout-username {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.logout-btn {
  background-color: rgb(37, 37, 37);
  color: rgb(197, 0, 0);
}

.to-send {

  height: 50px;
  width: 100%;
  border: solid;
  border-width: 1px;
}


.flexone {
  flex:1;
}
.flextwo {
  width: 100px;
}

