.login-title {
    background-color: rgb(0, 109, 73);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    height: 2rem;
}

.input-btn-box {
    margin-top: 20vh;
    margin-bottom: 1rem;
}
.login-btn {
    width: 5rem;
    height: 2.3rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: rgb(108, 180, 106);
    margin-left: -1px;
}

.login-input {
    height: 32px;
    font-size: 1.1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-width: 0.08rem;
    width: 13rem;
}

.invalid-error {
    color: red;
    height: 1.5rem;
}
